<div class="container">
  <video autoplay loop>
    <source src="./videos/osu.mp4" type="video/mp4">
  </video>


  <form class="form-signin" >
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="text" id="username" style="margin-bottom:5px" class="form-control" placeholder="Username" required autofocus>
    <input type="password" id="password" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p>Don't have an account? <a href="./signup"> Sign Up</a> </p>
  </form>

  <%= form_for :user, class: "form-signin", id: 'login'  do |u| %>
    <%= u.text_field :email, id: "username", style: "margin-bottom:5px", class: "form-control", placeholder: "Username", required: true, autofocus: true %>
    <%= u.text_field :password, id: "password", class: "form-control", placeholder: "Password", type: 'password', required: true %>
    <%= u.submit "Sign In", class: "btn btn-lg btn-primary btn-block" %>
  <% end %>

  <%= form_for :user, class: "form-signin", id: 'signup'  do |u| %>
    <%= u.text_field :email, id: "username", style: "margin-bottom:5px", class: "form-control", placeholder: "Username", required: true, autofocus: true %>
    <%= u.text_field :password, id: "password", class: "form-control", placeholder: "Password", type: 'password', required: true %>
    <%= u.text_field :password_confirmation, id: "password", class: "form-control", placeholder: "Password Confirmation", type: 'password', required: true %>
    <%= u.submit "Sign In", class: "btn btn-lg btn-primary btn-block" %>
  <% end %>



</div>
