<form id="custom-search-form" class="form-search form-horizontal pull-right">
      <div class="input-append span12">
          <input type="text" class="search-query" placeholder="Search">
          <button type="submit" class="btn"><i class="icon-search"></i></button>
       </div>
</form>
<br/>
<div id="container">
  <h6 class="resultsNumber"><%= @books.length %> results</h6>
  <div class="row">
  <% @books.each do |book| %>
    <a href="/books/<%= book.id %>" >
      <div class="recordOutter col-sm-4">
      <div class="record">
          <div class="recordLeft">
            <img class="bookImg" src="/images/<%= book.img %>">
          </div>
          <div class="recordRight">
            <p class="title"><%= book.title %></p>
            <p class="isbn"><span class="author">Author: </span> <%= book.author %></p>

            <p class="isbn"><span class="author">ISBN13:</span> <%= book.isbn %></p>
        </div>
      </div>
    </div>
  </a>
  <% end %>
</div>
</div>
