<form id="custom-search-form" class="form-search form-horizontal pull-right">
      <div class="input-append span12">
          <input type="text" class="search-query" placeholder="Search">
          <button type="submit" class="btn"><i class="icon-search"></i></button>
       </div>
</form>
<!-- <h6>&nbsp; 1 - <%= @books.length %> of <%= @books.length %> results</h6> -->
<ul id="listView">
  <% @books.each do |book| %>
      <li class="record">
          <div>
            <img class="bookImg" src="/images/<%= book.img %>">
          </div>
          <div>
            <h6 class="title"><%= book.title %></h6>
            <h6><%= book.isbn %></h6>
          </div>
      </li>
      <br />
  <% end %>
</ul>
